table{
    margin: auto;
    border: 4px solid black;
    position: relative;
   /* outline: 4px solid rgba(255, 47, 47, 0.555);
    outline-offset: 45px;*/    
}

 tr ,td{
    width: 60px;
    height: 60px;
}
.blackcub{
    background-color: darkolivegreen;
    user-select: none;
}
.whitecub{
    background-color:oldlace;
    user-select: none;
}
tr,td:active{
    background-color: khaki;
  }

  td{
    position: relative;
  }

  img{
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
 
  
    .selected{
      background-color: red;
    }
    
    .possible-move{
      background-color:  rgb(208, 140, 240);
    }
    
    

    th{
      width: 30px;
      height: 20px;
      background-color:#87CEFA;
      user-select: none;
      
    }

    .winner-dialog{
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50% , -50%);
      background: white;
      padding: 50px;
      border-radius: 10px;
      width: max-content;
      user-select: none;
    }

    .title{
      text-align: center;
      user-select: none;
    }

    .whichPlayerPopUp{
      float:left ;
      display: inline;
      background-color: aquamarine;
      font-size: 20px;
    }

    #playButton{
      
      text-align: center;
      background-color: red;
    }
    #playButton:hover{
      cursor: pointer;
    }